@use 'sass:color';

@font-face {
  font-family: 'Bakso Sapi';
  font-style: normal;
  font-weight: 400;
  src: url('src/assets/bakso-sapi.woff') format('woff');
}

$blue: hsl(219, 75%, 53%);
$red: hsl(0, 75%, 60%);
$yellow: hsl(45, 90%, 66%);
$green: hsl(100, 55%, 52%);
$orange: hsl(38, 79%, 55%);

@function dark($col) {
  @return color.mix($col, #000, $weight: 90%);
}
@function light($col) {
  @return color.mix($col, #fff, $weight: 75%);
}

$pad: 0.5rem;
$br: 0.5rem;
$gap: 0.2rem;
$borderWeight: 0.2rem;
$maxWidth: 720pt;

svg {
  width: 1em;
  height: 1em;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@mixin badge {
  border-radius: $br;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $gap;
  color: white;
  width: fit-content;
  padding: $pad;
}

@mixin ms-depth($amount) {
  box-shadow: 0 ceil(10 * 0.404 * $amount + 0.178) * 0.1 + 0px
      ceil(10 * 0.904 * $amount + 0.178) * 0.1 + 0px 0
      rgba(0, 0, 0, ceil(10 * 0.0036 * $amount + 0.152) * 0.1 + 0),
    0 ceil(10 * 0.0768 * $amount + 0.0544) * 0.1 + 0px
      ceil(10 * 0.227 * $amount + 0.177) * 0.1 + 0px 0
      rgba(0, 0, 0, ceil(10 * 0.00152 * $amount + 0.136) * 0.1 + 0);
}

body {
  max-width: $maxWidth;
  margin: auto;
  padding: $pad;

  font-family: Helvetica, sans-serif;
  font-weight: normal;
  -moz-osx-font-smoothing: subpixel-antialiased;
  background-color: light($blue);

  overflow: overlay;
  color: white;
}

a {
  text-decoration: none;
  font-style: italic;
  &:hover {
    text-decoration: underline;
  }
}

select,
.button,
input {
  padding: $pad;
  border-radius: $br;
  font-style: normal;
  outline: none;
}

select,
input {
  border: 1px solid rgba(0, 0, 0, 20%);
  background: white;
}

.button {
  font-size: inherit;
  background-color: $blue;
  color: white;
  border: none;
  text-align: center;

  &:hover {
    text-decoration: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.2;
  }
}
